.taskCounter {
  padding-left: 10px;
  display: flex;
  margin-bottom: 20px;

  &Section {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #bdcdee;
    border-radius: 5px;
    background-color: #dbe2ef;

    &Checkbox {
      width: 18px;
      height: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    &Value {

    }
  }
}
